<header>
  <nav class="navbar navbar-expand-sm sticky-top navbar-dark my-0" style="background-color: #000; opacity: 0.5;">
    <a class="navbar-brand" href="#">TriForce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav4">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"><span>コンセプト</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span>料金</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span>店舗</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span>ご入会の流れ</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span>会員様の声</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span>Q&A</span></a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="/assets/top-image1.png" alt="トップ画像１" style="width: 100%; height: auto;"></div>
    <div class="swiper-slide"><img src="/assets/top-image2.png" alt="トップ画像２" style="width: 100%; height: auto;"></div>
  </div>
</div>

<script>
    var mySwiper = new Swiper ('.swiper-container', {
      loop: true,
      effect: 'fade',
      speed: 2000,
      autoplay: {
        delay: 2000,
        disableOnInteraction: false
      },
    });
</script>
<div class="container-fluid">
  <div class="row">
    <div class="introduction col-md-12">
      <div class="box"><a href="#"><img src="/assets/icon1.png" alt="サブ画像１" style="width: 100%; height: auto;"></a></div>
      <div class="box"><a href="#"><img src="/assets/icon2.png" alt="サブ画像２" style="width: 100%; height: auto;"></a></div>
    </div>
  </div>
</div>

<script>
  ScrollReveal().reveal('.box', {
    duration: 2000,
    delay: 100,
    viewFactor: 0.3,
    reset: true
});
</script>
<div class="container-fluid">
  <div class="row">
    <div class="text-box col-md-12">
      <img src="/assets/text-image.png" alt="テキスト画像" style="width: 100%; height: auto;">
      <div class="text-contents text-center">
        <p>一瞬だけではない長い人生を<br>健康的に、魅力的に生き抜く本質を見据えた<br>誠実なカラダつくり。</p>
        <p>美しいプロポーションは、心とカラダの健康があってこそ。</p>
        <p>そして、一度手に入れた理想のカラダを<br>リバウンドせずに持続させること。</p>
        <p>このシンプルな原点と真剣に向き合うことから生まれたのが<br>トライフォースメソッドです。</p>
      </div>
    </div>
  </div>
</div>

<script>
  ScrollReveal().reveal('.text-contents', {
    duration: 2000,
    delay: 100,
    viewFactor: 0.2,
    reset: true
});
</script>

<div class="container-fluid">
  <div class="row">
    <div class="title col-md-6 offset-md-3 text-center">
      <h1>TraiFocre Method</h1>
        <p>トライフォースメソッド</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="triangle-box col-md-12">
      <div class="triangle-contens1 text-center">
        <h1>Training</h1>
        <p>トレーニング</p>
        <a href="#" style="text-decoration: none;">詳しくみる</a>
      </div>
      <div class="triangle-contens2 text-center">
        <h1>Food</h1>
        <p>食事プラン</p>
        <a href="#" style="text-decoration: none;">詳しくみる</a>
      </div>
      <div class="triangle-contens3 text-center">
        <h1>BodyCare</h1>
        <p>ボディケア</p>
        <a href="#" style="text-decoration: none;">詳しくみる</a>
      </div>
    </div>
  </div>
</div>

<script>
  ScrollReveal().reveal('.triangle-contens1', {
    duration: 2000,
    delay: 100,
    viewFactor: 0.2,
    reset: true
});
</script>
<script>
  ScrollReveal().reveal('.triangle-contens2', {
    duration: 2000,
    delay: 200,
    viewFactor: 0.4,
    reset: true
});
</script>
<script>
  ScrollReveal().reveal('.triangle-contens3', {
    duration: 2000,
    delay: 100,
    viewFactor: 0.6,
    reset: true
});
</script>


<div class="container">
  <div class="row">
    <div class="explanation col-md-12 text-center">
      <p>トライフォースでは、専属トレーナーがマンツーマンでトレーニングを担当。<br>トレーニング、食事指導、ボディケアの３つのアプローチで<br>あなたの状態に応じたカラダ作りを提案していきます。</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="gray-base col-md-12">
      <div class="training-title text-center">
        <h1>Training</h1>
        <p>トレーニング</p>
      </div>
      <div class="training-text text-center">
        <h2>誰ひとりとして同じではない。<br>オンリーワンのトレーニングを。</h2>
      </div>
      <div class="training-content col-md-12 text-center">
        <p>今すぐ痩せたい、身体の不調を改善したい、ゴルフの飛距離をのばしたい。<br>運動をはじめる目的は十人十色。<br>またスポーツ選手、ビジネスマン、サービス業など<br>仕事や生活スタイルも誰ひとりとして同じではありません。<br>トライフォースは、あなただけのマンツーマントレーニング。<br>小さな変化を見逃さず、常にカスタマイズ。<br>目的達成のための最適なメニューを提案します。</p>
      </div>
      <div class="training-caution col-md-12 text-center">
        <p>※結果には個人差があり、全ての方が同様の結果になるとは限りません。</p>
      </div>
      <ul id="accordion_menu">
        <li class="accordion1 col-md-8 offset-md-2">
          <a data-toggle="collapse" href="#menu01" aria-controls="#menu01" aria-expanded="false"><h4>CASE 01<br>慢性化した体調不良を<br>改善したい！</h4></a>
        </li>
        <ul id="menu01" class="collapse" data-parent="#accordion_menu">
          <li class="accordion-text1 col-md-8 offset-md-2"><p>デスクワークの方に多い肩こりや腰痛、猫背や骨盤の歪みなど、慢性化した不調は、身体の前後左右の筋バランスが崩れていることが大きな原因です。トレーナーが身体の状態や動きのクセから原因を見つけ、改善につながるコンディショニングトレーニングを実施。身体の緊張や溜め込んだ”こり”を緩めるボディケアも取り入れます。</p></li>
        </ul>
        <li class="accordion2 col-md-8 offset-md-2">
          <a data-toggle="collapse" href="#menu02" aria-controls="#menu02" aria-expanded="false"><h4>CASE 02<br>２ヶ月で-6kgダイエットして<br>ボディシェイプしたい！</h4></a>
        </li>
        <ul id="menu02" class="collapse" data-parent="#accordion_menu">
          <li class="accordion-text2 col-md-8 offset-md-2"><p>最大限の効果を最短で生み出すダイエットメソッドを提案。具体的な数値目標の達成はもちろん、身体の機能や内面にもアプローチして、根本からの体質改善を図ります。食に対する意識も変えていくことで、健康維持も可能に。また、ひとりひとりの個性に合わせたプログラムで、無理することなくサイズダウン。リバウンドしづらい身体づくりも目指します。</p></li>
        </ul>
        <li class="accordion3 col-md-8 offset-md-2">
          <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false"><h4>CASE 03<br>競技パフォーマンスを<br>最大限に上げたい！</h4></a>
        </li>
        <ul id="menu03" class="collapse" data-parent="#accordion_menu">
          <li class="accordion-text3 col-md-8 offset-md-2"><p>ただやみくもにトレーニングを重ねていくだけでは、必ずしもパフォーマンスが上がるといえません。競技に合った動きに沿うトレーニングが必要不可欠です。chacharitoでは世界トップクラスのトレーニング施設「EXOS」でのメソッドを基にメニューを構築。タンパク質など良質な筋肉をつくる食事管理を行い、効率的な筋力アップを行います。</p></li>
        </ul>
        <li class="accordion4 col-md-8 offset-md-2">
          <a data-toggle="collapse" href="#menu04" aria-controls="#menu04" aria-expanded="false"><h4>CASE 04<br>年齢とともに衰える筋力を<br>キープしたい！</h4></a>
        </li>
        <ul id="menu04" class="collapse" data-parent="#accordion_menu">
          <li class="accordion-text4 col-md-8 offset-md-2"><p>年齢と共に衰えやすい筋肉に働きかけて、筋肉量の減少を防ぎ、若々しい身体を保ちます。お一人お一人のからだの状態を確認しながら、負荷をかけすぎずに適度な筋トレを行うので、年齢を重ねた方でも安心してトレーニングに取り組んで頂けます。定期的にトレーニングを続けることで若々しいからだを維持するのに役立ちます。</p></li>
        </ul>
      </ul>
      <script>
        ScrollReveal().reveal('#accordion_menu li.accordion1', {
          duration: 2000,
          delay: 100,
          origin: 'left',
          distance: '50px',
          viewFactor: 0.1,
          reset: true
        });
      </script>
      <script>
        ScrollReveal().reveal('#accordion_menu li.accordion2', {
          duration: 2000,
          delay: 100,
          origin: 'left',
          distance: '50px',
          viewFactor: 0.2,
          reset: true
        });
      </script>
      <script>
        ScrollReveal().reveal('#accordion_menu li.accordion3', {
          duration: 2000,
          delay: 100,
          origin: 'left',
          distance: '50px',
          viewFactor: 0.3,
          reset: true
        });
      </script>
      <script>
        ScrollReveal().reveal('#accordion_menu li.accordion4', {
          duration: 2000,
          delay: 100,
          origin: 'left',
          distance: '50px',
          viewFactor: 0.4,
          reset: true
        });
      </script>
      <div class="green-base col-md-12">
        <div class="lesson text-center">
          <p>TRAIL LESSON</p>
          <h3>お得な体験レッスン受付中！</h3>
        </div>
        <div class="lesson-box">
          <div class="counseling col-md-4">
            <div class="counseling-title text-center">
              <p><span>1.</span><br>カウンセリング</p>
            </div>
            <div class="counseling-image">
              <img src="/assets/counseling-image.png" alt="カウンセリング画像" style="width: 100%; height: auto;">
            </div>
            <div class="counseling-text">
              <p>まず初めに、運動する目的や既往歴などについてご質問します。普段、なかなか自分自身と向き合うことのない方もカウンセリングにより「気づき」が生まれ、目的が明確に。目的を持つことでトレーニングや食事方法の効果に違いが出ます。</p>
            </div>
          </div>
          <div class="body-evaluation col-md-4">
            <div class="body-evaluation-title text-center">
              <p><span>2.</span><br>身体評価</p>
            </div>
            <div class="body-evaluation-image">
              <img src="/assets/evaluation-image.png" alt="身体評価画像" style="width: 100%; height: auto;">
            </div>
            <div class="body-evaluation-text">
              <p>次に、トライフォース独自の身体評価を用いて身体の状態を分析します。体重や体脂肪量、筋肉量の測定に始まり、立ち姿勢や動き方のクセ、筋肉の質感など、オーダーメイドのメニューを組むための要素をくまなく確認。例えば、「なぜ猫背なのか？」「なぜ腰が痛むのか？」といった原因も明確にしていきます。</p>
            </div>
          </div>
          <div class="program col-md-4">
            <div class="program-title text-center">
              <p><span>3.</span><br>運動プログラム体験</p>
            </div>
            <div class="program-image">
              <img src="/assets/program-image.png" alt="プログラム画像" style="width: 100%; height: auto;">
            </div>
            <div class="program-text">
              <p>評価の結果に合わせた、あなたにぴったりの運動プログラムを体験していただきます。トレーナーのアドバイスに沿って動くことで、自分自身の身体について新しい気づきが生まれることも。トレーニング内容
              やボリュームを体感してください。<br>※ウェアレンタル無料</p>
            </div>
          </div>
        </div>
        <script>
          ScrollReveal().reveal('.counseling', {
            duration: 2000,
            delay: 100,
            origin: 'left',
            distance: '50px',
            viewFactor: 0.1,
            reset: false
          });
        </script>
        <script>
          ScrollReveal().reveal('.body-evaluation', {
            duration: 2000,
            delay: 100,
            origin: 'left',
            distance: '75px',
            viewFactor: 0.2,
            reset: false
          });
        </script>
        <script>
          ScrollReveal().reveal('.program', {
            duration: 2000,
            delay: 100,
            origin: 'left',
            distance: '100px',
            viewFactor: 0.3,
            reset: false
          });
        </script>
        <div class="campaign">
          <img src="/assets/campaign-image.png" alt="キャンペーン画像" style="width: 100%; height: auto;">
        </div>
        <div class="service-title text-center">
          <p>※無料カウンセリング・お問い合わせはこちらから。お気軽にご相談下さい。</p>
        </div>
        <div class="campaign-from col-md-12">
          <div class="campaign-web-from col-md-8 offset-md-2 text-center">
            <a href="#">
              <h3><i class="fas fa-envelope size fa-pull-left"></i>WEBフォームはこちら</h3>
            </a>
          </div>
          <div class="campaign-web-tel col-md-8 offset-md-2 text-center">
            <p><i class="fas fa-phone-alt size fa-pull-left"></i>体験レッスンお申し込みダイアル</p>
            <h4>01-2345-6789</h4>
          </div>
        </div>
      </div>
      <div class="private col-md-12">
        <img src="/assets/private-image.png" class="private-image" alt="ジム紹介画像" style="width: 100%; height: auto;">
        <div class="private-text">
          <h3>まるごと貸切の完全プライベート空間</h3>
          <p>レッスン中は、ジムがまるごと貸切のプライベート空間に。受付からトレーニング、お帰りまで全て専属トレーナーが１人で担当します。誰とも顔を合わせることがないため、ゆったりとリラックスした時間を過ごせます。</p>
          <div class="private-text-contents">
            <a href="#">詳しくみる</a>
          </div>
        </div>
      </div>
      <script>
        ScrollReveal().reveal('.private-text', {
          duration: 2000,
          delay: 100,
          origin: 'left',
          distance: '100px',
          viewFactor: 0.1,
          reset: false
        });
      </script>
      <div class="rental-box">
        <div class="rental-image col-md-4 offset-md-4">
          <img src="/assets/rental-image.png" alt="レンタル画像" style="width: 100%; height: auto;">
          <h4>手ぶらで気軽に通える</h4>
        </div>
        <div class="rental-contents col-md-6 offset-md-3">
          <p>※トレーニングウェア、ソックス、タオルなどトレーニング時に必要なものは、全て無料でレンタルできますので、お仕事帰りなどでも手ぶらでレッスンに通えます。ジム内は全面人工芝のため、ソックスを履いた状態でのレッスンを推奨しておりますので、シューズは不要です。</p>
        </div>
        <div class="rental-detail text-center">
          <a href="#">詳しくみる</a>
        </div>
      </div>
      <script>
        ScrollReveal().reveal('.rental-image', {
          duration: 2000,
          delay: 100,
          viewFactor: 0.2,
          reset: false
        });
      </script>
    </div>
    <div class="gray-base2 col-md-12">
      <div class="food-box">
        <div class="food-title text-center">
          <h1>Food</h1>
        </div>
        <div class="food-title-sab col-md-8 offset-md-2 text-center">
          <p>食事</p>
        </div>
        <div class="food-image col-md-4 offset-md-4">
          <img src="/assets/food-image.png" alt="食事画像" style="width: 100%; height: auto;">
          <h4>食事管理BOOK</h4>
        </div>
        <div class="food-contents col-md-6 offset-md-3">
          <p>トレーニング中の方には、食事管理BOOKのご利用をオススメしています。食事の量や質、栄養素のバランス、食事から見えるその方のライフスタイルを知ることで、さらに細やかなアドバイスができるように。また、意識が変わることでご自身でコントロールできるようになり、ダイエットのスピードも格段に上がります。</p>
        </div>
        <div class="food-text col-md-12 text-center">
          <div class="food-text1 col-md-4">
            <p>・客観的にチェックできる</p>
          </div>
          <div class="food-text2 col-md-4">
            <p>・食の意識が高まる</p>
          </div>
          <div class="food-text3 col-md-4">
            <p>・カラダの理解が深まる</p>
          </div>
        </div>
        <div class="food-detail col-md-12 text-center">
          <a href="#">体験談をよむ</a>
        </div>
      </div>
    </div>
    <script>
      ScrollReveal().reveal('.food-image', {
        duration: 2000,
        delay: 100,
        viewFactor: 0.2,
        reset: false
      });
    </script>

    <div class="gray-base3 col-md-12">
      <div class="bodycare-box">
        <div class="bodycare-title text-center">
          <h1>BodyCare</h1>
        </div>
        <div class="bodycare-title-sab col-md-8 offset-md-2 text-center">
          <p>ボディケア</p>
        </div>
        <div class="bodycare-contents col-md-8 offset-md-2">
          <p>トレーニング後は「リメディアル・セラピー」をベースに専属トレーナーがカラダの歪みや筋肉のコリを徹底的にケア。頑張りすぎている心とカラダのストレスを流して、デトックス＆リセットします。</p>
        </div>
        <div class="white-base">
          <div class="bodycare-image1 col-md-2">
            <img src="/assets/point1-image.png" alt="ポイント１画像" style="width: 100%; height: auto;">
          </div>
          <div class="bodycare-text1 col-md-4">
            <h5>筋膜リリース</h5>
            <p>筋肉を包んでいる筋膜の萎縮や癒着をはがして元に戻すテクニック</p>
          </div>
          <div class="bodycare-image2 col-md-2">
            <img src="/assets/point2-image.png" alt="ポイント１画像" style="width: 100%; height: auto;">
          </div>
          <div class="bodycare-text2 col-md-4">
            <h5>ストレッチ療法</h5>
            <p>硬くこわばった筋肉を物理的にのばし、柔軟性をアップ</p>
          </div>
          <div class="bodycare-image3 col-md-2">
            <img src="/assets/point3-image.png" alt="ポイント１画像" style="width: 100%; height: auto;">
          </div>
          <div class="bodycare-text3 col-md-4">
            <h5>トリガーポイント</h5>
            <p>痛みやしびれと連動するトリガーポイントを見つけて緩和</p>
          </div>
          <div class="bodycare-image4 col-md-2">
            <img src="/assets/point4-image.png" alt="ポイント１画像" style="width: 100%; height: auto;">
          </div>
          <div class="bodycare-text4 col-md-4">
            <h5>関節ケア</h5>
            <p>さまざまな手技により関節の可動域を広げ、動きやすい身体に</p>
          </div>
          <div class="logo col-md-6 offset-md-3">
            <img src="/assets/logo-image.png" alt="ロゴ画像" style="width: 100%; height: auto;">
          </div>
          <div class="logo-text col-md-12">
            <p>HYPERICE（ハイパーアイス）社製品を使い、各筋肉の活性化、筋膜リリースを行います。トライフォースでは、最先端の筋肉ケア、筋膜リリース器具メーカーのHYPERICEと代理店契約を結んでおり、製品の販売も行っております。</p>
          </div>
          <div class="logo-contents-image col-md-12">
            <div class="logo-contents-image1 col-md-6">
              <img src="/assets/logo-image1" alt="ロゴ１画像" style="width: 100%; height: auto;">
            </div>
            <div class="logo-contents-image2 col-md-6">
              <img src="/assets/logo-image2" alt="ロゴ２画像" style="width: 100%; height: auto;">
            </div>
          </div>
        </div>
        <div class="trainer-box col-md-12">
          <div class="trainer-image">
            <img src="/assets/trainer-image.png" alt="トレーナー説明画像" style="width: 100%; height: auto;">
          </div>
          <div class="trainer-contents col-md-6">
            <a href="#">トレーナーを詳しくみる</a>
          </div>
        </div>
        <script>
          ScrollReveal().reveal('.trainer-box', {
            duration: 2000,
            delay: 100,
            viewFactor: 0.2,
            reset: false
          });
        </script>
      </div>
      <div class="last-border col-md-12">
      </div>
    </div>
    <div class="last-from col-md-12">
      <div class="last-web-from col-md-8 offset-md-2 text-center">
        <a href="#">
          <h3><i class="fas fa-envelope size fa-pull-left"></i>WEBフォームはこちら</h3>
        </a>
      </div>
      <div class="last-web-tel col-md-8 offset-md-2 text-center">
        <p><i class="fas fa-phone-alt size fa-pull-left"></i>体験レッスンお申し込みダイアル</p>
        <h4>01-2345-6789</h4>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="text-center web-copyright pt-5 pb-3">
    Copyright © 2021 TriForce. All Rights Reserved.
  </div>
</footer>

